__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep

models/arima/*
models/lstm/*
!models/arima/.gitkeep
!models/lstm/.gitkeep

mlruns/
mlartifacts/

.DS_Store
.pytest_cache/
